.sortWrapper {
    margin: 0 auto;
    max-width: 1140px;
    background: #FFF;
    border: none;
    padding: 30px 100px;
}
.searchMessage {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
} 
.searchMessage p {
    margin: 0;
    padding: 0;
}
.sortCards {
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;

}
.sortCardsItem {
    font-weight: 400;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
}
.sortCardsItem:hover {
    border-radius: 10px;
    background: #f5efec;
}