.form {

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__input, button {
        margin: 8px;
        border: rgb(218, 212, 212);
        border-radius: 8px;
        box-shadow: 1px 2px 1px rgb(218, 212, 212);
        padding: 8px;
        color: rgb(99, 94, 94);
        background-color: #fff;

    }
    
}