.post {
    margin: 0 auto;
    height: 100%;
    border: none;
    padding: 30px 100px;

    &__wrapper {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px; 
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        gap: 10px;

        &_char {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: "Roboto";
            font-size: 14px;
            
            &_links {
                text-decoration: none;
                padding: 20px;
                color: #1a1a1a;
                margin: 10px;
            }
        }
        &_text {
            text-align: justify;
            text-indent: 20px;
        }
    }
    
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
        text-align: center;
    }

    &__sidebar {
        width: 45%;
        
        img {
            width: 100%;
            margin: 0 10px 10px;
        }
    }
}
.img {
    width: 100%;
}