@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.article {
    @include section($second-color);

    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
        justify-content: space-between;
    }
    &__content {
        @include posed-spaces;
        align-items: flex-start;
        margin-top: 15px;
        gap: 30px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 70%;
        position: relative;

        &_tags {
            display: flex;
            flex-direction: column;
        }
    }

    &__info {
        width: 100%;
        margin: 20px 0;

        &_char {
            @include text-block($ffamily-main, $fsize-main, justify, 400, 18px, 0px);
            @include posed-center;
            gap: 20px;
            padding: 20px;
            
            &_links {
                @include icon-link($black-color, 14px);
                padding: 5px;

            }
        }
        &_text {
            @include text-block($ffamily-main, 20px, justify, 400, 32px, 20px);
            display: flex;
            flex-direction: column;
            padding: 20px;
            margin-bottom: 40px;

            img {
                object-fit: contain;
                max-height: 100vh;
            }
        }
    }
    
    &__title {
        @include text-block($ffamily-main, 28px, justify, 700, 32px, 0px);
    }

    &__sidebar {
        @include sidebar(30%);

        &_item {
            height: 300px;
            position: relative;
            margin-bottom: 20px;
        }

        &_adv {
            @include posed-absolute(80%, 10%);
            font-size: px;
            max-width: 300px;
            line-height: 28px;
            cursor: pointer;
            color: $warning-color;
    
            h2 {
                margin-bottom: 20px;
            }
        }
        
        img {
            object-fit: cover;
            height: 100%;
        }
    }

    &__like_btn {
        max-width: 200px;
    }

    &__comment_block {
        margin-top: 20px;
    }
}

img {
    @include card-image(100%);
}

.article__like {
    display: flex;
    justify-content: flex-start;
}
button {
    @include base-button(none, $base-color);
    @include posed-center;
    gap: 15px;
    font-family: $ffamily-main;
    font-size: $fsize-main;
}
button:hover {
    @include button-hover;
}
a:hover, svg:hover {
    @include link-hover;
}