@import "./variables.scss";

@mixin section ($background) {
    width: 100%;
    height: 100%;
    background: $background;
    border: none;
    font-family: $ffamily-main;
}

@mixin content_wrapper { 
    display: flex;
    margin: 0 auto;
    padding: 30px 100px;
    max-width: $max-width;
    font-family: $ffamily-main;
}

@mixin icon-link ($link-color, $size ) {
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    color: $link-color;
    font-size: $size;
    transition: all .3s ease;
}
@mixin link-hover {
    color: $link-hover;
}

@mixin posed-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin posed-spaces {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@mixin posed-start {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

@mixin posed-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

@mixin posed-absolute ($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
}

@mixin base-button ($border, $background) {
    padding: 15px;
    cursor: pointer;
    width: 100%;
    outline: none;
    border: none;
    border-radius: $b-raduis; 
    box-shadow: $box-shadow;
    background: $background;
    color: $icon-text-color;
    transition: all .3s ease;
}

@mixin button-hover {
    background: $icon-color;
    box-shadow: none;
    opacity: .4;
    color: $black-color;
}

@mixin card-image ($image-width) {
    width: $image-width;
    height: $card-img-height;
    border-radius: $b-raduis;
}

@mixin text-block ($font, $size, $t-aligh, $weight, $height, $t-indent) {
    @include posed-center;
    text-align: $t-aligh;
    font-family: $font;
    font-size: $size;
    font-weight: $weight;
    line-height: $height;
    text-indent: $t-indent;
}

@mixin sidebar ($sidebar-width) {
    max-width: $sidebar-width;
}

