$base-color: #F5EFEC;
$second-color: #FFFFFF;
$icon-color: #1686FF;
$border: 1px solid rgb(218, 212, 212);
$icon-text-color: rgb(99, 94, 94);
$warning-color: #F44336;
$black-color: #1A1A1A;
$link-hover: #B4A198;
$box-shadow: 5px 5px 5px rgb(218, 212, 212);
$max-width: 1140px;
$header-height: 96px;
$footer-height: 170px;
$card-height: 359px;
$card-img-height: 328px;
$gap: 15px;
$b-raduis: 8px;
$fsize-main: 16px;
$ffamily-main: "Roboto";
