.main {
    margin: 0;
    width: 100%;
    background: #FFF;
    border: none;
    padding: 60px 100px;
}
.cards__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    
}
.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}