/* .container {
    width: calc(100vh - 96px - 300px);
    display: grid;
    grid-template-rows: 46px auto 160px;
} */
.home {
    &__wrapper {
        width: 100%;
        background: #f5efec;
        border: none;
    }
    &__container {
        max-width: 1140px;
        margin: 0 auto;
    }
    &__promo-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        background-color: #f5efec;
    }
}