@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.home {
    @include section($second-color);
    
    &__wrapper {
        width: 70%;
        margin: 0 auto;
        min-height: 200px
    }
}