.favouritesPage {
    height: 100%;
    border: none;
}
.favouritePageWrapper p {
    margin: 0;
    padding: 0;
}
.favouritePageWrapper {
    max-width: 1140px;
    margin: 0 auto;
    padding: 30px 100px 0;
}