.favouritesPage {
    height: 100%;
    border: none;

    &__wrapper {
        max-width: 1140px;
        margin: 0 auto;
        padding: 30px 100px 0;

        p {
            margin: 0;
            padding: 0;
        }
    }
}
