@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card {
    flex-direction: column;
    position: relative;
    padding: 0px;
    margin-bottom: 40px;
    min-height: $card-height;
    color: $black-color;

    &__icon {

        &_top-right {
            @include posed-absolute(10px, 0);
            width: 24px;
            height: 24px;
            color: $warning-color;
            z-index: 11;
        }

        &_top-left {
            left: 0px;
            top: 20px;
        }

        &_bottom-right {
            position: absolute;
            width: 24px;
            height: 24px;
            right: 5px;
            bottom: 10px;
            color: $icon-color;
            opacity: .6;
            font-size: 24px;

            &:hover {
                color: $base-color;
                opacity: 1;
            }
        }
    }

    &__discount {
        @include posed-center;
        @include text-block(inherit, 16px, center, 800, 20px, 0);
        padding: 2px 8px;
        position: absolute;
        left: -1px;
        top: -1px;
        width: 58px;
        height: 24px;
        background: $warning-color;
        border-radius: 10px;
        color: $second-color;
        z-index: 5;
    }

    &__tag {
        @include posed-center;
        padding: 2px 8px;
        position: absolute;
        width: 86px;
        height: 24px;
        border-radius: 10px;
    }

    &__info {

        &_block {
            width: 100%;
        }

        &_img-box {
            width: 100%;
            position: relative;
            overflow: hidden;
        }

        &_img {
            @include card-image(100%);
            height: $card-img-height;
            object-fit: cover;
            left: 1px;
            right: -1px;
            top: 0px;
            transition: all ease-in-out .5s;

            &_grey-effect {
                transition: all 0.5s linear;
                filter: grayscale(1) opacity(0.7);
                height: $card-img-height;
                border-radius: $b-raduis;
        
                &:hover {
                    filter: none;        
                }
            }

            &:hover {
            img {
                height: $card-img-height;;
            }
        }
    }
    
        &_description {
            width: 100%;
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            position: relative;
            text-align: justify;
        }
    }

    &__hover_effect {
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #1f3d4738;
        backdrop-filter: blur(3px);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 2s;
        z-index: 10;

        button {
            height: 40px;
            max-width: 50%;
            margin: 10px;
        }
    }

    &__oldprice {
        position: absolute;
        top: -10px;
        text-decoration: line-through;
        font-size: 18px;
        height: 40px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;;
        width: 100%;
        height: 40px;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
    }

    &__wight {
        color: #7B8E98;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        height: 30px;
    }

    &__title {
        width: 100%;
        height: 50px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    &__button {
        @include base-button($border, $base-color);
        max-width: 100%;

        &:hover {
            @include button-hover;
        }
    }
    &__cart {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: 40px;
        margin-bottom: 0;
    }

    a {
        @include icon-link ($icon-color, $fsize-main);
    }
}

.tag {
    &__type_new {
        right: 0px;
        top: 0px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: $second-color;
        background: $icon-color;
        z-index: 5;
    }

    &__type_sale {
        right: 30%;
        top: 40%;
        transform: rotate(-45deg);
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 20px;
        text-transform: uppercase;
        line-height: 20px;
        color: $warning-color;
        background: transparent;
        opacity: .5;
        z-index: 5;
    }
}

.card__info_img-box:hover .card__hover_effect {
    right: 0;
}