@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.card {
    flex-direction: column;
    position: relative;
    padding: 0px;
    min-height: $card-height;
    color: $black-color;
    margin-bottom: 20px;

    &__image {
        width: 100%;
        min-height: $card-img-height;
        left: 1px;
        right: -1px;
        top: 0px;
        border-radius: $b-raduis;
    }

    &__sticky_top-right {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0px;
        top: 10px;
        color: #F44336;
        font-size: 20px;
    }

    &__sticky_top-left {
        left: 0px;
        top: 20px;
    }
    &__sticky_bottom-right {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 0px;
        bottom: 5px;
        color: #70eec2;
        opacity: .6;
        font-size: 20px;

        &:hover {
            color: #f5efec;
            opacity: 1;
        }
    }

    &__discount {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 8px;
        position: absolute;
        left: -1px;
        top: -1px;
        width: 58px;
        height: 24px;
        background: #F44336;
        border-radius: 10px;
        color: #fff;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        z-index: 5;
    }

    &__tag {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 2px 8px;
        position: absolute;
        width: 86px;
        height: 24px;
        border-radius: 10px;

    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 6px;
        width: 236px;
        height: 100px;
        margin: 20px 0;
        position: relative;
    }

    &__oldprice {
        position: absolute;
        top: -10px;
        text-decoration: line-through;
        font-size: 18px;
    }

    &__price {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        padding: 0px;
        width: 236px;
        height: 38px;
        font-weight: 800;
        font-size: 18px;
        line-height: 24px;
    }

    &__wight {
        color: #7B8E98;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        padding: 0;
        margin: 0;
    }

    &__button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 18px;
        width: 116px;
        height: 40px;
        background: #f5efec;
        border-radius: 55px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        cursor: pointer;

        &:hover {
            background: #70eec2;
            opacity: .6;
        }
    }

    a {
        color: #1A1A1A;
        text-decoration: none;
    }
}

.tag {
    &__type_new {
        right: 0px;
        top: -25px;
        font-weight: 800;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        background: #70eec2;
    }

    &__type_sale {
        right: 25%;
        top: 25%;
        transform: rotate(-45deg);
        font-weight: 800;
        font-size: 36px;
        letter-spacing: 20px;
        text-transform: uppercase;
        line-height: 20px;
        color: rgba(255, 0, 0, .4);
        background: transparent;
    }
}
