@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.product {
    @include section($second-color);

    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
        margin-bottom: 40px;
        gap: 10px;
    }

    &__card {
        display: flex;
        gap: 20px;
    }

    &__like {
        width: 24px;
        height: 24px;
        right: 0px;
        top: 10px;
        color: $warning-color;
        font-size: 20px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 100%;
        gap: 10px;
    }

    &__title {
        font-weight: 800;
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
        text-align: justify;
        padding: 0;
        margin: 0;
    }

    &__card_desc {

        &_list {
            @include posed-spaces;
        }

        ul {
            list-style: none;
        }
    }
}
.img__box {
    width: 100%;
    height: 100%;
}

.img {
    @include card-image(100%);
    height: 100%;

    img {
        @include card-image(100%);
        height: 100%;
    }
}

.desc {
    width: 100%;
    text-align: justify;
    
    select {
        margin: 10px;
        border-radius: $b-raduis;
        padding: 5px;

        & option:checked, option:hover {
            background: $base-color;
        }
    } 
}

.old_price {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-decoration: line-through;
    display: block;
}

.price {
    font-size: 28px;
    line-height: 32px;
    font-weight: 800;
    display: block;
}

.description {
    font-size: 16px;
    line-height: 20px;
}

.description p {
    margin-bottom: 12px;
}
.rating {
    display: flex;

    & span {
        margin-right: 10px;
    }
}
.select {
    display: flex;
    flex-direction: column;
    max-width: 70%;
    gap: 10px;
}
.btn {
    max-width: 50%;
    
    &>button {
        @include base-button(none, $base-color);
        min-width: 230px;
        justify-content: flex-start;
        margin: 20px 0 5px;
    }
}

.delete_link {
    @include icon-link ($icon-color, 16px );
    @include posed-start;

    &:hover {
        @include link-hover;
    }
}
.cart_btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
    height: 54px;
}
