@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.post-list {

    &__wrapper {
        @include content_wrapper;
        @include posed-spaces;
        justify-content: space-between;
        gap: 15px;
    }

    &__sorted {
        border-radius: $b-raduis;
        padding: 15px;

        span {
            padding: 15px;
        }
    }
}

.base-button {
    @include base-button(none, $base-color);
}