@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.posts {
    @include section($second-color);

    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
    }
}

.post-list {

    &__wrapper {
        flex-direction: column;
        margin: 15px 0;
    }

    &__sorted {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 2px 4px rgba(40, 41, 61, 0.04);
        display: flex;
        justify-content: center;
        align-items: center;
        
        &_item {
            font-weight: 400;
            line-height: 20px;
            padding: 20px;
            margin: 0 20px;
            cursor: pointer;
    
            &:hover {
                border-radius: $b-raduis;
                background: $base-color;
            }
        }
    }
}

.base-button {
    @include base-button(none, $base-color);
}