@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.about {
    @include section($second-color);

    img {
        @include card-image(100%);
        box-shadow: $box-shadow;
    }
    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
    }
    
    &_title {
        margin-bottom: 10px;
        text-indent: 20px;
        font-weight: 600;
        font-size: 18px;
        text-align: justify;
    }

    &__content-block {
        @include text-block($ffamily-main, 16px, justify, 400, 20px, 20px);
        gap: 15px;
        margin: 15px;

        img {
            @include card-image(50%);
            box-shadow: $box-shadow;
        }
    }
    &__delivery {
        @include posed-start;
        gap: 15px;
    }
}
h2, h4 {
    margin: 0;
    padding: 0;
}
.delivery {
    height: calc(100vh - $header-height - $footer-height);
}
