.header {
    width: 100%;
    background: #f5efec;
    border: none;
    position: sticky;
    top: 0;
    z-index: 100;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        min-height: 56px;
        margin: 0 auto;
        padding: 20px 100px;
        gap: 20px;
    }

    &__logo {
        width: 100%;
    }
}
.icons {
    width: 24px;
    height: 24px;
    position: relative;
    padding: 3px;
    font-size: 20px;

    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 34px;
    }
    a>svg {
        color: #70eec2;
    }

    &__favourite-over-num {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background: #F44336;
        width: 12px;
        height: 12px;
        font-size: 10px;
        padding: 1px;
        border-radius: 50%;
        color: #fff;
        font-weight: 600;
    }
}

/* .icon__cart {
    position: absolute;
    left: 19.3%;
    right: 19.3%;
    top: 30.76%;
    bottom: 14.9%;
    background: #263238;

    &__profile {
        position: absolute;
        left: 12.5%;
        right: 12.5%;
        top: 0%;
        bottom: 0%;
        background: #222327;
} */
