header {
    width: 100%;;
    background: #f5efec;
    border: none;
}
.header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1140px;
    min-height: 56px;
    margin: 0 auto;
    padding: 30px 0;
    gap: 20px;
}
.header__logo {
    width: calc(100% / 3);
}
.icons__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: calc(100% / 3);
    gap: 34px;
}
.icons {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
/* .icon-favourite-over {
    width: 11px;
    height: 12px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;
    text-align: center;
    color: #FFFFFF;
} */
/* .icon-favourite {
    position: absolute;
    left: 15.09%;
    right: 15.09%;
    top: 19.08%;
    bottom: 19.4%;
    background: #FFE44D;
} */
/* .icon-cart {
    position: absolute;
    left: 19.3%;
    right: 19.3%;
    top: 30.76%;
    bottom: 14.9%;
    background: #263238;
} */
/* .icon-profile {
    position: absolute;
    left: 12.5%;
    right: 12.5%;
    top: 0%;
    bottom: 0%;
    background: #222327;
} */