.header {
    // width: 100%;
    background: #f5efec;
    border: none;
    position: sticky;
    top: 0;
    z-index: 100;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1140px;
        min-height: 56px;
        margin: 0 auto;
        padding: 20px 0px;
        gap: 15px;
    }

    &__logo {
        width: 100%;
    }
    &__info_block {
        width: calc(100% / 3);
    }
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 24px;
    height: 24px;
    position: relative;
    padding: 3px;
    font-size: 20px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #70eec2;
        font-family: inherit;
        font-size: 20px;
    }

    &__wrapper {
        display: flex;
        justify-content: flex-end;
        padding: 0px;
        margin: 0;
        gap: 10px;
    }
    a>svg {
        color: #70eec2;
    }

    &__favourite-over-num {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        background: #F44336;
        width: 12px;
        height: 12px;
        font-size: 10px;
        padding: 1px;
        border-radius: 50%;
        color: #fff;
        font-weight: 600;
    }

}
.header__btn {
    padding: 8px;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    margin: 0px;
    border: rgb(218, 212, 212);
    border-radius: 8px;
    box-shadow: 1px 2px 1px rgb(218, 212, 212);
    color: rgb(99, 94, 94);
    outline: none;
}
