@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.header {
    @include section($base-color);
    box-shadow: $box-shadow;
    max-height: $header-height;

    &__wrapper {
        @include content_wrapper;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

    &__logo>svg {
        @include card-image("100%");
        @include posed-center;
        vertical-align: middle;
    }
    &__info_block {
        width: calc(100% / 3);
    }
}
.icons {
    @include posed-spaces;
    position: relative;
    font-size: 22px;
    margin-left: 15px;
    cursor: pointer;

    a {
        @include icon-link($black-color, "20px");
    }

    &__wrapper {
        @include posed-end;
        padding: 0px;
        margin: 0;
    }
    a>svg {
        color: $icon-color;
    }

    &__favourite-over-num {
        @include posed-center;
        @include posed-absolute(2px, -6px);
        background: $warning-color;
        color: $second-color;
        width: 13px;
        height: 13px;
        font-size: 10px;
        padding: 1px;
        border-radius: 50%;
        font-weight: 600;

    }
}
.header__btn {
    @include base-button(none, $second-color);
}
