@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.carousel {
    @include section($second-color);
        padding: 0;
        flex-direction: column;

    &__wrapper {
        @include content-wrapper;
        margin-bottom: 20px;
        position: relative;
    }

    &__promo {
        position: relative;

        &_adv {
            @include posed-absolute(40%, 65%);
            font-size: 30px;
            max-width: 300px;
            line-height: 40px;
            cursor: pointer;
            color: $warning-color;
    
            h2 {
                margin-bottom: 20px;
            }
        }
    }
}
