@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

.search__input {
    border-radius: 1.5rem;
    background-color: $second-color;
    caret-color: $icon-text-color;
    font-family: $ffamily-main;
    padding: 14px 20px;
    margin: 0 30px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid transparent;

    &:focus {
        background: $second-color;
        outline: none;
        border-color: $border-color;
        box-shadow: $box-shadow;
    }
}
