footer {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #f5efec;
    border: none;
    padding: 50px 100px;
} 
.footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 30px 0;
}
.footer__logo_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__logo_wrapper p {
    margin: 0;
    padding: 0;
}

.footer__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;
    height: 100%;
}
.footer__contacts {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #1A1A1A;
}
.footer__contacts a, .footer__links a {
    text-decoration: none;
    color: #1A1A1A;
}
.footer__contacts h4 {
    margin: 0;
    margin-bottom: 15px;
}
.social-icons {
    height: 100%;
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}