.post {
    width: 100%;
    background: #f5efec;
    border: none;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
        margin: 0 auto;
        padding: 30px 100px;
    }
    &__content {
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding-bottom: 40px;

    }
    &__image {
        border-radius: 8px;
        max-width: 400px;
    }
    &__info {
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        min-height: 300px;
        max-width: 350px;
        position: absolute;
        right: -250px;
        top: 15px;
        border-radius: 8px;

    }
    &__title {
        text-decoration: none;
        color: #1a1a1a;

        &:hover {
            color: #b4a198;
        }
        
        h2 {
            margin: 0;
            padding: 0;
        
        }
    }
    &__comment {
        text-decoration: none;
        color: #1a1a1a;

        &:hover {
            color: #b4a198;
        }
    }
    &__reaction {
        margin-right: 25px;
    }
    &__date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: "Roboto";
        font-size: 14px;

        p {
            margin: 0;
            padding: 0;
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-end;
        gap: 15px;

        svg:hover {

            color: #b4a198;
        }

        &_comment-icon {
            position: relative;

        
            &_over-num {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: -12px;
                right: -5px;
                color: #70eec2;
                font-size: 16px;
                font-weight: 800;
            }
        }
        &_read-icon {
            &:hover {
                color: #b4a198;
                cursor: pointer;
            }
        }
    }

}
.ff__different {
    font-family: "Roboto";
    font-size: 12px;
}