@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.post {
    @include section($second-color);

    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
        margin-bottom: 40px;
    }
    &__content {
        max-width: 500px;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        padding-bottom: 40px;
    }
    &__image {
        @include card-image(100%);
        box-shadow: $box-shadow;
    }

    &__info {
        @include posed-absolute(2rem, -25rem);
        @include text-block($ffamily-main, $fsize-main, justify, 400, 18px, 0px);
        @include posed-spaces;
        min-height: 300px;
        max-width: 100%;
        flex-direction: column;
        padding: 20px 20px 40px;
        background: $second-color;
        border: 1px solid $border-color;
        box-shadow: $box-shadow;
        border-radius: $b-raduis;
    }
    
    &__text {
        @include text-block($ffamily-main, 18px, justify, 400, 20px, 20px);
    }
    
    &__title {
        @include text-block($ffamily-main, 24px, justify, 700, 32px, 0px);
        @include icon-link($black-color, 16px);
    }
    &__date {
        @include posed-end;
        width: 100%;
        gap: 20px;
        font-size: $fsize-main;

        &_date {
            @include posed-start;
            width: 100%;
        }
    }
    &__icons {
        @include posed-start;
        width: 100%;
        gap: 20px;
        cursor: pointer;

        &_comment-icon{
            position: relative;

            &_over-num {
                @include posed-absolute(-12px, -5px);
                @include posed-center;
                color: $icon-color;
                font-size: 16px;
                font-weight: 800;
            }
        }
    }

    &__comment {
        @include posed-end;
        width: 100%;
    }
}

.img {
    @include card-image(100%);
}