@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.user__account {
    @include section($base-color);

    &_wrapper {
        @include content_wrapper;
        justify-content: space-between;
        display: flex;
        align-items: center;
    }

}