@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.author {
    @include section($second-color);
    border: none;
    
    &__wrapper {
        @include content_wrapper;
        flex-direction: column;
        height: 100%;
    }
}
